<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Likes:</strong>
</p>

<ul>
<% @tweet.likes.each do |like| %>
      <li><img src="<%= like.user.user_img %>" alt="user_img"></li>
    <% end %>
</ul>